<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SIET</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
  <script>
      function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
    </script>
    <!-- CSS here -->
    <link
      rel="stylesheet"
      href="{% static '../static/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '../static/css/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '../static/css/magnific-popup.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '../static/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '../static/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '../static/css/nice-select.css' %}"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static '../static/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static '../static/css/gijgo.css' %}" />
    <link rel="stylesheet" href="{% static '../static/css/animate.css' %}" />
    <link rel="stylesheet" href="{% static '../static/css/slicknav.css' %}" />
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}" />

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- header-start -->
    <header>
      <div class="header-area">
        <div id="sticky-header" class="main-header-area">
          <div class="container-fluid p-0">
            <div class="row align-items-center no-gutters">
              <div class="col-xl-3 col-lg-3">
                <div class="logo-img">
                  <a href="{% url 'main' %}">
                    <img
                      class="logo"
                      src="{% static '../static/img/logo.png' %} "
                      alt=""
                      style="width: 17rem; height: 80px"
                    />
                  </a>
                </div>
              </div>
              <div class="col-xl-7 col-lg-7">
                <div class="main-menu d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li>
                        <a href="{% url 'main' %}">home</a>
                      </li>
                      <li>
                        <a href="{% url 'cources' %}">Courses</a>
                      </li>
                      <li>
                        <a href="{% url 'trainers' %}">Trainers</a>
                      </li>
                      <li>
                        <a href="{% url 'about' %}">About</a>
                      </li>
                      <li>
                        <a href="#">blog <i class="ti-angle-down"></i></a>
                        <ul class="submenu">
                          <li>
                            <a href="#">blog</a>
                          </li>
                          <li>
                            <a href="#">single-blog</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="{% url 'contact' %}">Contact</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                <div class="log_chat_area d-flex align-items-center">
                  <a href="#test-form" class="login popup-with-form">
                    <i class="flaticon-user"></i>
                    <span>Registration</span>
                  </a>
                </div>
              </div>
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header-end -->

    {% block content %} {% endblock %}

    <!-- footer -->
    <footer class="footer footer_bg_1">
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="footer_widget">
                <div class="footer_logo">
                  <a href="#">
                    <img
                      class="logo"
                      src="{% static '../static/img/logo.png' %} "
                      alt=""
                      style="width: 20rem; height: 80px"
                    />
                  </a>
                </div>
                <p>
                  Firmament morning sixth subdue darkness creeping gathered
                  divide our let god moving. Moving in fourth air night bring
                  upon it beast let you dominion likeness open place day great.
                </p>
                <div class="socail_links">
                  <ul>
                    <li>
                      <a href="https://web.facebook.com/hitman0309">
                        <i class="ti-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="ti-twitter-alt"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/ahmadali0310/">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-youtube-play"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
              <div class="footer_widget">
                <h3 class="footer_title">Courses</h3>
                <ul>
                  <li><a href="#">Wordpress</a></li>
                  <li><a href="#"> Photoshop</a></li>
                  <li><a href="#">Illustrator</a></li>
                  <li><a href="#">Adobe XD</a></li>
                  <li><a href="#">UI/UX</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-2">
              <div class="footer_widget">
                <h3 class="footer_title">Resourches</h3>
                <ul>
                  <li><a href="#">Free Adobe XD</a></li>
                  <li><a href="#">Tutorials</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#"> About</a></li>
                  <li><a href="#"> Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
              <div class="footer_widget">
                <h3 class="footer_title">Address</h3>
                <p>
                  200, D-block, Green lane USA <br />
                  +10 367 467 8934 <br />
                  edumark@contact.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right_text">
        <div class="container">
          <div class="footer_border"></div>
          <div class="row">
            <div class="col-xl-12">
              <p class="copy_right text-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | This template is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Maintain by AHMAD ALI
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    {% comment %} End footer {% endcomment %}

    <form id="test-form" class="white-popup-block mfp-hide">
    {% csrf_token %}
      <div class="popup_box">
        <div class="popup_inner">
          <div class="logo text-center">
            <a href="#">
              <img
                class="logo"
                src="{% static '../static/img/logo.png' %} "
                alt=""
                style="width: 80pxpx; height: 80px"
              />
            </a>
          </div>
          <h3>Sign in</h3>
          <form action="" id="regisration_form" >
            <div class="row">
              <div class="col-xl-12 col-md-12">
                <input id="name" type="text" placeholder="Enter your FullName" />
              </div>

              <div class="col-xl-12 col-md-12">
                <input id="email" type="email" placeholder="Enter email" />
              </div>
              <div class="col-xl-12 col-md-12">
                <input id="number" type="text" placeholder="Enter your Whatsapp No" />
              </div>
              <div class="col-xl-12 col-md-12">
                <input id="country" type="text" placeholder="Enter your Country" />
              </div>
              <div class="col-xl-12 col-md-12">
                <select
                  id="teachers"
                  name="trainer"
                  class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required teach"
                  aria-required="true"
                  aria-invalid="false"
                  style="
                    width: 100%;
                    border: none;
                    padding: 0 30px;
                    margin-bottom: 20px;
                    color: black;
                    border-radius: 3px;
                    height: 50px;
                  "
                >
                  <option value="Choose your Instructor">
                    Choose your Instructor
                  </option>
                </select>
              </div>
              <div class="col-xl-12 col-md-12">
                <select
                  id="cources"
                  name="cources"
                  class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                  aria-required="true"
                  aria-invalid="false"
                  style="
                    width: 100%;
                    border: none;
                    padding: 0 30px;
                    margin-bottom: 20px;
                    color: black;
                    border-radius: 3px;
                    height: 50px;
                  "
                >
                  <option value="Choose your Instructor">
                    Choose your Cource
                  </option>
                </select>
              </div>
              <div class="col-xl-12 col-md-12">
                <input id="address" type="text" placeholder="Enter Your Adress" />
              </div>
              <div class="col-xl-12 col-md-12">
                <input id="cnic" type="text" placeholder="Enter Your CNIC No" />
              </div>
              <div class="col-xl-12 col-md-12">
                <select
                id="payment"
                  style="
                    width: 100%;
                    border: none;
                    padding: 0 30px;
                    margin-bottom: 20px;
                    color: black;
                    border-radius: 3px;
                    height: 50px;
                  "
                  name="PaymentMethod"
                  class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                  aria-required="true"
                  aria-invalid="false"
                >
                  <option value="Enter Your Payment Method">
                    Enter Your Payment Method
                  </option>
                  <option value="Easy Paisa">Easy Paisa</option>
                  <option value="Jazz Cash">Jazz Cash</option>
                  <option value="Bank Transfer">Bank Transfer</option>
                </select>
              </div>
              <div class="col-xl-12" id="remove">
                <button type="submit" id="submit" class="boxed_btn_orange">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </form>
    <!-- form itself end -->

    {% comment %}
    <!-- form itself end-->
    <form id="test-form2" class="white-popup-block mfp-hide">
      <div class="popup_box">
        <div class="popup_inner">
          <div class="logo text-center">
            <a href="#">
              <img src="img/form-logo.png" alt="" />
            </a>
          </div>
          <h3>Resistration</h3>
          <form action="#">
            <div class="row">
              <div class="col-xl-12 col-md-12">
                <input type="email" placeholder="Enter email" />
              </div>
              <div class="col-xl-12 col-md-12">
                <input type="password" placeholder="Password" />
              </div>
              <div class="col-xl-12 col-md-12">
                <input type="Password" placeholder="Confirm password" />
              </div>
              <div class="col-xl-12">
                <button type="submit" class="boxed_btn_orange">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </form>
    {% endcomment %}
    <!-- form itself end -->

    <!-- JS here -->

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static '../static/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static '../static/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static '../static/js/popper.min.js' %}"></script>
    <script src="{% static '../static/js/bootstrap.min.js' %}"></script>
    <script src="{% static '../static/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '../static/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '../static/js/ajax-form.js' %}"></script>
    <script src="{% static '../static/js/waypoints.min.js' %}"></script>
    <script src="{% static '../static/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static '../static/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static '../static/js/scrollIt.js' %}"></script>
    <script src="{% static '../static/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static '../static/js/wow.min.js' %}"></script>
    <script src="{% static '../static/js/nice-select.min.js' %}"></script>
    <script src="{% static '../static/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static '../static/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '../static/js/plugins.js' %}"></script>
    <script src="{% static '../static/js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <!-- <script src="{% static '../static/js/contact.js' %}"></script> -->
    <script src="{% static '../static/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static '../static/js/jquery.form.js' %}"></script>
    <!-- <script src="{% static '../static/js/jquery.validate.min.js' %}"></script> -->
    <script src="{% static '../static/js/mail-script.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script src="{% static '../static/js/main.js' %}"></script>

    <script>
      var swiper = new Swiper(".swiper-container", {
        spaceBetween: 50,
        centeredSlides: true,
        autoplay: {
          delay: 2000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
    <script>
      let fetch_trainer = () => {
        console.log("hi this is fetch trainer.");
        fetch("/trainers/", {
          method: "GET",
          headers: {
            Accept: "application.json, text/plain, */*",
            "Content-type": "application/json",
            "X-Requested-With": "XMLHttpRequest",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            data.trainer.forEach((instance) => {
              let option = document.createElement("option");
              option.textContent = instance.name;
              document.getElementById("teachers").appendChild(option);
            });
          });
      };
      document.getElementById("teachers").addEventListener("change", (e) => {
        let trainer = e.target.value;
        document.getElementById(
          "cources"
        ).innerHTML = `<option  value='Choose your Instructor'>Choose your Cource</option>`;
        fetch(`/courses_list/${trainer}/`, {
          method: "GET",
          headers: {
            Accept: "application.json, text/plain, */*",
            "Content-type": "application/json",
            "X-Requested-With": "XMLHttpRequest",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            data.cources.forEach((instance) => {
              let option = document.createElement("option");
              option.textContent = instance.name;
              document.getElementById("cources").appendChild(option);
            });
          });
      });

      document.getElementById("test-form").addEventListener("submit", (e) => {
        e.preventDefault();
        const removing = document.getElementById("submit");
        document.getElementById("remove").removeChild(removing);
        remove.innerHTML = `<button type="submit" id="submit" class="boxed_btn_orange">Pease Wait...</button>`;
        let name = document.getElementById('name').value;
        let email = document.getElementById('email').value;
        let number = document.getElementById('number').value;
        let counrty = document.getElementById('country').value;
        let teachers = document.getElementById('teachers').value;
        let cources = document.getElementById('cources').value;
        let address = document.getElementById('address').value;
        let cnic = document.getElementById('cnic').value;
        let payment = document.getElementById('payment').value;

        console.log(name + email + number + counrty + teachers + cources + address + cnic +payment);



          fetch("/registration/", {
    method: "POST",
    headers: {
      "Accept": "application.json, text/plain, */*",
      "Content-type": "application/json",
      "X-Requested-With": "XMLHttpRequest",
      "X-CSRFToken": csrftoken,
    },
    body:JSON.stringify({
      'name': name,
      'email': email,
      'number': number,
      'counrty': counrty,
      'teachers': teachers,
      'cources': cources,
      'address': address,
      'cnic': cnic,
      'payment': payment
    })
  })
    .then((res) => res.json())
    .then((data) => {

      if(data['created'] == true){

        let name = document.getElementById('name').value = "";
        let email = document.getElementById('email').value = "";
        let number = document.getElementById('number').value= "";
        let counrty = document.getElementById('country').value= "";
        let teachers = document.getElementById('teachers').value= "";
        let cources = document.getElementById('cources').value= "";
        let address = document.getElementById('address').value= "";
        let cnic = document.getElementById('cnic').value= "";
        let payment = document.getElementById('payment').value= "";

        swal("Registration Succussfull!", "You will Receive The Confirmatin Email Soon","success");
        const html_button = `<button type="submit" id="submit" class="boxed_btn_orange">Register</button>`
        remove.innerHTML = html_button;
      } else {
        swal("Registration UnSuccussfull!", "error");

      }
    });
      });
      document.getElementById("contactForm").addEventListener("submit", (e) => {
        e.preventDefault();
        message = document.getElementById("message").value;
        message = document.getElementById("name").value;
        message = document.getElementById("email").value;
        message = document.getElementById("subject").value;

      })
            document.getElementById("contactForm").addEventListener("submit", (e) => {
        e.preventDefault();
        let message = document.getElementById("message").value;
        let name = document.getElementById("name").value;
        let email = document.getElementById("email").value;
        let subject = document.getElementById("subject").value;

                  fetch("/message/", {
    method: "POST",
    headers: {
      "Accept": "application.json, text/plain, */*",
      "Content-type": "application/json",
      "X-Requested-With": "XMLHttpRequest",
      "X-CSRFToken": csrftoken,
    },
    body:JSON.stringify({
      'message': message,
      'name': name,
      'email': email,
      'subject': subject
    })
  })
    .then((res) => res.json())
    .then((data) => {

      if(data['created'] == true){

        let name = document.getElementById('name').value = "";
        let email = document.getElementById('email').value = "";
        let number = document.getElementById('message').value= "";
        let counrty = document.getElementById('subject').value= "";

        swal("Sending Message Succussfull!", "Thanks For Sending Message","success");
      } else {
        swal("Sending Message UnSuccussfull!", "error");

      }
    });
      });

      fetch_trainer();
    </script>
  </body>
</html>
